body {
	width: 100%;
}

#content {
	width: 896px;
	margin: 0 auto;
}

iframe {
	height: 1200px;
	width: 880px;
	margin: 0 auto;
	border: 3px solid #B7B7B7;
}

/*for menu*/

#menu {
	background-color: #F5F5F5;
	height: 33px;
	width: 320px;
	margin: 0 auto;
}

#menu ul {
	margin: 0px;
	padding: 0px;
}

#menu ul li {
	list-style: none;
	display: block;
	cursor: pointer;
	opacity: .55;
}

#menu ul li:hover {
	opacity: 0.99;
}

.menuItemImg {
	width: 50px;
	height: 50px;
	float: left;
}

#subMenu {
	width: 280px;
	position: relative;
	opacity: 0.99;
	background-color: white;
	top: 54px;
	visibility: hidden;
}

#subMenu li {
	background-color: white;
}

#Font {
	background: url(../img/html_editor_l.png) 0px 0px;
}

#Bold {
	background: url(../img/html_editor_l.png) -70px 0px;
}

#Italic {
	background: url(../img/html_editor_l.png) -120px 0px;
}

#Underline {
	background: url(../img/html_editor_l.png) -170px 0px;
}

#toOl {
	background: url(../img/html_editor_l.png) -345px 0px;
}

#toUl {
	background: url(../img/html_editor_l.png) -390px 0px;
}





