body {
	width: 100%;
}

#content {
	width: 896px;
	margin: 0 auto;
}

iframe {
	height: 1200px;
	width: 880px;
	margin: 0 auto;
	border: 3px solid #B7B7B7;
}

/*for menu*/

#menu {
	background-color: #F5F5F5;
	height: 33px;
	width: 370px;
	margin: 0 auto;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	height: 50px;
	background-color: #F5F5F5;
}

#menu ul li {
	list-style: none;
	/*display: block;*/
	cursor: pointer;
	opacity: .55;
}

#menu ul li:hover {
	opacity: 0.99;
}

.menuItemImg {
	width: 42px;
	height: 50px;
	float: left;
	background-color: #F5F5F5;
	color: #6F6F6F;
	font-size: 12px;
}

#subMenu {
	width: 280px;
	position: relative;
	opacity: 0.99;
	background-color: white;
	top: 54px;
	visibility: hidden;
}

#subMenu li {
	background-color: white;
}

.table {
	display: table;
}

.tableCell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#Font {
	background: url(../img/html_editor_l.png) 0px 0px;
}






